{{#with footer}}
<footer>
    <hr>
    <br>
    <div>
        {{#with social}}
        {{> link text=email.text href=email.href blank=true }}
        {{> link text=phone.text href=email.href blank=true }}
        {{> link text=linkedin.text href=email.href blank=true }}
        {{/with}}
    </div>
    <br>
    <div>
        <em>Copyright{{../header/name/firstname}}{{../header/name/lastname}}</em>
    </div>
    <div>
        <em>{{../header/address}}</em>
    </div>
</footer>
{{/with}}