<nav>
    <button type="button" class="btn btn-dark">{{> link text="SUMMARY" href="/summary"line=true }}</button>
    <button type="button" class="btn btn-dark"> {{> link text="SKILLS" href="/skills"line=true }}</button>
    <button type="button" class="btn btn-dark">{{> link text="EDUCATION" href="/education"line=true }}</button>
    <button type="button" class="btn btn-dark"> {{> link text="WORK" href="/work"line=true }}</button>
    <button type="button" class="btn btn-dark">{{> link text="PERSON" href="/person"line=true}}</button>
    <button type="button" class="btn btn-dark">{{> link text="BIO" href="/bio"line=true }}</button>
    <button type="button" class="btn btn-dark">{{> link text="PROGRAM" href="/program"line=true}}</button>
    <button type="button" class="btn btn-dark"> {{> link text="WEB" href="/web"line=true }}</button>
    <button type="button" class="btn btn-dark">{{> link text="JS" href="/js"line=true}}</button>
    <button type="button" class="btn btn-dark">{{> link text="Auto" href="/car"line=true }}</button>
    <button type="button" class="btn btn-dark">{{> link text="task21" href="/task21"line=true }}</button>
    <button type="button" class="btn btn-dark">{{> link text="task22" href="/task22"line=true noLine=true}}</button>


</nav>