<nav>
    {{> link text="SUMMARY" href="/summary"line=true }}
    {{> link text="SKILLS" href="/skills"line=true }}
    {{> link text="EDUCATION" href="/education"line=true }}
    {{> link text="WORK" href="/work"line=true }}
    {{> link text="PERSON" href="/person"line=true}}
    {{> link text="BIO" href="/bio"line=true noLine=true}}
</nav>